<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanshu.community.mapper.QuestionMapper">

    <insert id="insert" parameterType="com.lanshu.community.model.Question">
        insert into c_question
        (title, description, gmt_create, gmt_modified, creator, tag)
        values
        (#{title}, #{description}, #{gmtCreate}, #{gmtModified}, #{creator}, #{tag})
    </insert>

    <select id="allCount" resultType="java.lang.Integer">
        select count(1) from c_question
    </select>

    <select id="select" resultType="com.lanshu.community.model.Question">
        select * from c_question limit #{offset}, #{size}
    </select>

    <select id="selectByCreator" resultType="com.lanshu.community.model.Question">
        select * from c_question where creator = #{id} limit #{offset}, #{size}
    </select>

    <select id="allCountByCreator" resultType="java.lang.Integer">
        select count(1) from c_question where creator = #{id}
    </select>

    <select id="findById" resultType="com.lanshu.community.model.Question">
        select * from c_question where id = #{id}
    </select>

    <update id="update" parameterType="com.lanshu.community.model.Question">
        update c_question
        set title = #{title}, description = #{description}, tag = #{tag}, gmt_modified = #{gmtModified}
        where id = #{id}
    </update>

    <select id="findId" resultType="java.lang.Integer" parameterType="com.lanshu.community.model.Question">
        select id from c_question where title = #{title} and description = #{description} and creator = #{creator}
    </select>

    <delete id="deleteById" parameterType="int">
        delete from c_question where id = #{id}
    </delete>
</mapper>