<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanshu.community.mapper.QuestionMapper">

    <insert id="insert" parameterType="com.lanshu.community.model.Question">
        insert into c_question
        (title, description, gmt_create, gmt_modified, creator, tag)
        values
        (#{title}, #{description}, #{gmtCreate}, #{gmtModified}, #{creator}, #{tag})
    </insert>

    <select id="allCount" resultType="java.lang.Integer">
        select count(1) from c_question
    </select>

    <select id="select" resultType="com.lanshu.community.model.Question">
        select * from c_question limit #{offset}, #{size}
    </select>

    <select id="selectByCreator" resultType="com.lanshu.community.model.Question">
        select * from c_question where creator = #{id} limit #{offset}, #{size}
    </select>

    <select id="allCountByCreator" resultType="java.lang.Integer">
        select count(1) from c_question where creator = #{id}
    </select>

    <select id="findById" resultType="com.lanshu.community.model.Question">
        select * from c_question where id = #{id}
    </select>

    <update id="update" parameterType="com.lanshu.community.model.Question">
        update c_question
        set title = #{title}, description = #{description}, tag = #{tag}, gmt_modified = #{gmtModified}
        where id = #{id}
    </update>

    <select id="findId" resultType="java.lang.Integer" parameterType="com.lanshu.community.model.Question">
        select id from c_question where title = #{title} and description = #{description} and creator = #{creator}
    </select>

    <delete id="deleteById" parameterType="int">
        delete from c_question where id = #{id}
    </delete>
    <!--选择性更新，注意传参为Question类对象-->
    <update id="updateByIdSelective" parameterType="com.lanshu.community.model.Question">
        update c_question
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                name = #{description},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=BIGINT},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                creator = #{creator}
            </if>
            <if test="tag != null">
                tag = #{tag}
            </if>
            <if test="viewCount != null">
                view_count = view_count + 1
            </if>
            <if test="commentCount != null">
                comment_count= comment_count + 1
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>