<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanshu.community.mapper.QuestionMapper">

    <insert id="insert" parameterType="com.lanshu.community.model.Question">
        insert into c_question
        (title,description,gmt_create,gmt_modified  ,creator,tag)
        values
        (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <select id="select" resultType="com.lanshu.community.model.Question">
        select * from c_question limit #{offset}, #{size}
    </select>
    
    <select id="allCount" resultType="java.lang.Integer">
        select count(1) from c_question
    </select>
</mapper>