body{
    background-color: #8c8c8c;
}
.main{
    background-color: white;
    margin: 50px;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}

.media-object{
    width: 40px;
    height: 40px;
}
.desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}